<<<<<<< HEAD
<h1>Shopinformations#show</h1>
<p>Find me in app/views/shopinformations/show.html.erb</p>
=======
<h5>SHOP INFORMATION<h5>
<%= @shopinformation.shopinfomation_text %>
<%#= @shopinformation.shopinfomation_image %>

>>>>>>> 77fca3a9a5513916a1d91345bcce534dee9ca4d8
