<div class="center">

<table class="table" border="3" bordercolor="black">
	<tr>
		<th>
<h2>
　この度は、NAGAJAKEをご利用いただき
誠にありがとうございます。<br>

どうぞ引き続き末永くご愛顧賜りますよう
心よりお願い申し上げます。
</h2>
</th>
</tr>

</table>



<table class="table" border="3" bordercolor="black">
	<tr>
		<th>
<h2 class="center1">
購入完了致しました。
</h2>
</th>

</tr>

</table>
</div>

<div class="center">
<%=link_to "マイページへ",show_mypage_path,class: "btn btn-success", style: "width:100%;"   %>
<p></p>
<%=link_to"購入を続ける",products_path,class: "btn btn-danger", style: "width:100%" %>
</div>
