<h1>購入履歴一覧</h1><br>

<div class="center">
<table class="table" border="3" bordercolor="black">
	<tr>
		<th>名前</th>
		<th>古田和杜<%#= @user.family_name %><%#= @user.first_name %></th>
		<th>メールアドレス</th>
		<th>test@test.com<%#= @user.mail %></th>
	</tr>
</table>


<table class="table" border="3" bordercolor="black">
	<tr>
		<th>購入日</th>
		<th>購入内容</th>
		<th>価格総計</th>
		<th>送付先</th>
		<th>ステータス</th>
	</tr>
	<%#= @cart_history.each do |cart_history| %>
	<tr>
		<td>test<%#= cart_history.cart_item_history.created_at %></td>
		<td>test<%#= cart_history.cart_item_history.product.product_name %></td>
		<td>test<%#= cart_history.cart_item_history.amount_history %></td>
		<td>test<%#= cart_history.cart_item_history.ship_address_history %></td>
		<td>test<%#= cart_history.cart_item_history.ship_status %></td>
	</tr>
	<%# end %>



</table>
</div>
