<h1>受注一覧</h1>
<table class="table" border="3" bordercolor="black">
	<tr>
		<th>名前</th>
		<th>購入日</th>
		<th>決済方法</th>
		<th>合計金額</th>
		<th>発送</th>
	</tr>

    <%#= @cart_history.each do |cart_history| %>
	<tr>
		<td>
    <%#= cart_history.user.family_name %><%= cart_history.user.first_name %>
	    </td>
		<td> <%#= cart_history.created_at %></td>
		<td><%#= cart_history. %></td><!-- お支払い方法テーブぅと紐付け-->
		<td><%#= cart_history.amount_history %></td>
		<td>text</td> <!--発送-->
	</tr>
</table>