
<div class="center">
<h1>受注詳細</h1>
<p>取引詳細</p>
<!-- eachで回す！ -->
<%#= @cart_history.each do |cart_history| %>
<table class="table" border="3" bordercolor="black">
    <tr>
    	<th rowspan="6">picturse</th>
    		<th class="table_width">
    			シングル・アルバム名
    		</th>
    		<td>
    			<%#= cart_history.cart_item_history.product.product_name %>
    			aaaaa
    		</td>
    </tr>

    <tr>
    	    <th>
    			アーティスト名
    		</th>
    		<td>
    			<%#= cart_history.cart_item_history.product.product_name %> <!--（仮）-->
    			bbbbb
    		</td>
    </tr>

    <tr>
    	    <th>
    			レーベル名
    		</th>
    		<td>
    			<%#= cart_history.cart_item_history.product.product_name %><!--（仮）-->
    			ccccc
    		</td>
    </tr>
    <tr>
    	    <th>
    			カテゴリ
    		</th>
    		<td>
    			<%#= cart_history.cart_item_history.product.product_name %><!--（仮）-->
    			ddddd
    		</td>
    </tr>
    <tr>
    	    <th>
    			枚数
    		</th>
    		<td>
    			<%#= cart_history.cart_item_history.product.product_name %><!--（仮）-->
    			eeeee
    		</td>
    </tr>
    <tr>
    	    <th>
    			単価
    		</th>

    		<td>
    			<%#= cart_history.cart_item_history.product.product_name %><!--（仮）-->
    			fffff
    		</td>
    </tr>
</table>

<%# end %>

<!--eachのend-->

</div>

<div class="center2">

<table class="table" border="3" bordercolor="black">
	<tr>
		<th class="table_width">
			<h3 class="center1">
		計
	</h3>
	</th><td></td><th class="table_width">
		<h3 class="center1">
	お支払い方法
    </h3>
</th><td></td><th class="table_width">
	<h3 class="center1">合計金額</h3>
</th><td></td>
	</tr>
</table>

</div>

<div class="center">


<h3>お届け先情報</h3>
<table class="table" border="3" bordercolor="black">
<tr>
	<th class="table_width">フリガナ</th><td>
		<h3 class="center1">fffff</h3></td>
</tr>
<tr>
  <th class="table_width">氏名</th><td>
  	<h3 class="center1">kkkkk</td></h3>
</tr>
<tr>
<th class="table_width">電話番号</th><td>
	<h3 class="center1">aaaaa</td></h3>
</tr>
<tr>
	<th class="table_width">メールアドレス</th>
	<td><h3 class="center1">bbbbb</h3></td>
</tr>
<tr>
	<th class="table_width">郵便番号</th>
	<td><h3 class="center1">ccccc</h3></td>
</tr>
<tr>
	　<th class="table_width">住所</th>
	<td><h3 class="center1">ddddd</h3></td>
</tr>
</table>

</div>
