<div class="container lead">
<p>Product Review List</p>
<tbody>
	<% @product_reviews.each do |review| %>
		<tr>
			<td><%= review.rating %></td>
			<td><%#= review. %></td>
			<td><%= review.review_title %></td>
			<td><%= review.review_text %></td>
		</tr>
	<% end %>
	<%#= paginate(@product_reviews) %>
</tbody>
</div>