// Place all the styles related to the cart_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center{
margin: 0 auto;
width:90%;
}

.center1{
margin: 0 auto;
text-align: center;
}

.table_width{
width:  20%;
}

.center2{
margin-left: auto;
margin-right: 5%;
width:70%;

}

