// Place all the styles related to the cart_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center{
margin: 0 auto;
width:90%;
}

.center1{
margin: 0 auto;
text-align: center;
}

.masnt{
	color: red;
}
.box5{
    font-size: 20px;
	display: inline;
}
.center2{
margin: 0 auto;
text-align: center;
}

.line{
	padding-top: 30px;
	text-align: center;
	font-size: 30px;
}

.line2{
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
	}

.line3{
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
	}

.table_width{
width:  20%;
}

.table_width2{
width:  30%;
}
.center2{
margin-left: auto;
margin-right: 5%;
width:70%;

}

.font{
	font-size: 7px;
	color: red;
}

.font2{
	font-size: 20px;
	color: red;
}

.font3{
    text-align: center;
	font-size: 20px;
	color: brack;
}
