// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-layout {
display:grid;gap:0.5em;grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cate-box {
}
.cate-img {
	filter: brightness(100%);
	filter: drop-shadow(4px 4px 8px #666);
	transition: all .5s;
}
.cate-img:hover {
	filter: brightness(70%);
	transform: translateY(-5px);
}
.cate-text {
	positon: abusolute;
	top: 50%;
	left: 50%;
}