<% if flash[:notice] %>
	<p class="flash"><%= flash[:notice] %>
</p>
<% end %>

<h1>Category List</h1>
<div class="category-box grid-layout">
	<% @categories.each do |category| %>
		<div class="row">
			<%= link_to category_path(category), class: "category_#{category.id}" do %>
			    <%= attachment_image_tag category, :category_image, :fill, 200, 200, class: "img-rounded category_box", fallback: "no_image.jpg",size:'200x200' %>
			    <p class="category-text position-absolute category-box-text" ><%= category.category_title %></p>
			<% end %>
		</div>
	<% end %>
</div>
<%# 無限スクロール %>