<div class="container">
	<div class="row">
		<p>Thank you for inquiring us!<br>
		   we will contact you very soon.</p>
	</div>
	<div>
		<%= image_tag 'thank-you.jpg' %>
	</div>
	<div>
		<%= link_to "Return to MyPage", :controller => "users", :action => "show_mypage", class: "col-xs-4 col-xs-4 btn btn-primary active" %>
	</div>
</div>
