<div class="container">
	<div class="">
		<p>Thank you for inquiring us!<br>
		   we will contact you very soon.</p>
	</div>
	<div>
		<%= image_tag 'thank-you.jpg' %>
	</div>
	<div>
		<%= link_to "Return to MyPage", :controller => "inquiries", :action => "new", class: "col-xs-4 col-xs-4 btn btn-primary active" %>
		<%# 一時的に新規問い合わせに飛ばしています。%>
	</div>
</div>