
<%#  管理者のみが閲覧できます。%>
<div class="container">
<div class="row">
<h1>Inquiry List</h1>
	<% @inquiries.each do |inquiry| %>
		<div class=""><p>inquiry status</p>
			<%#= inquiry.select :inquiry_status, Inquiry.inquiry_statuses.keys %>
		</div>
		<div class="inquiry_title">
			<%= link_to inquiry_path(inquiry.id), class: "inquiry_#{inquiry.id}" do %>
				<%= inquiry.inquiry_title %>
			<% end %>
			<p class="inquiry-text">
				<%= truncate(inquiry.inquiry_text, length: 30, omission: " • • • ") %></p>
		</div>
	<% end %>
</div>
</div>