<div class="container">
	<p class="lead">お問い合わせ詳細</p>
	<div class="row">
		<div class="col-xs-2">問い合わせ日時</div>
	    <div class="col-xs-2">ユーザー名</div>
	    <div class="col-xs-2">タイトル</div>
	    <div class="col-xs-2">内容</div>
	</div>

	<div class="row">
		<div class="col-xs-2"><%= @inquiry.created_at.in_time_zone('Tokyo') %></div>
	    <div class="col-xs-2"><%= @inquiry.user_id %></div>
	    <div class="col-xs-2"><%= @inquiry.inquiry_title %></div>
	    <div class="col-xs-2"><%= @inquiry.inquiry_text %></div>
	</div>

	<div class="row">
    <div>管理者返信内容</div>

    <div>返信する</div>

    <div>ユーザーメールアドレス</div>

    <div>返信本文</div>

    <div>送信ボタンsubmit</div>
	    <div>お問い合わせタイトル</div>
	    <div></div>
	    <div>お問い合わせ内容</div>

	    <div>管理者返信内容</div>

	    <div>返信する</div>
	    <%# form_for @answer do |f|%>

		<%# if @answer.errors.any? %>
			<%#= @answer.errors.count %>
			<%#= @answer.errors.full_messages.each do |message| %>
				<%#= message %>
			<%# end %>
		<%# end %>

	    <div><%#= f.user_mail :mail%></div>
	    <div><%#= f.text_area :inquiry_answer_text, placeholder:'返信内容をご入力ください。', class: "col-xs-4" %></div>
	    <div><%#= f.submit '送信ボタン', class: "col-xs-4 btn btn-primary active" %></div>
	    <%# end %>
	</div>
</div>