<p id="notice"><%= notice %></p>

<h1>商品一覧</h1>

  <tbody>
    <% @products.each do |product| %>
      <tr>
      	<%= link_to product_path(product.id) do %>
	      <%= attachment_image_tag product, :jacket_image, :fill, 400, 400, format: 'jpeg'%></td>
	    <% end %>
      </tr>
	<% end %>

	<%= link_to '商品登録', new_product_path %>
