<p id="notice"><%= notice %></p>

<h1>商品一覧</h1>

  <table class="product-list-item">
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= attachment_image_tag product, :jacket_image, :fill, 400, 400, format: 'jpeg' %></td>
      </tr>
<% end %>





<%= link_to '商品登録', new_product_path %>
