<footer class="navbar navbar-default">
  <div class="container">
    <% if user_signed_in? %>
      <nav>
        <ul class="footer-link nav navbar-nav navbar-right">
          <li class="footer-list"><%= link_to "Shopinfo", "#" %></li>
      		<li class="footer-list"><%= link_to "From", "#" %></li>
        </ul>
      </nav>
    <% else %>
      <nav>
        <ul class="footer-link nav navbar-nav navbar-right">
          <li class="footer-list"><%= link_to "Shopinfo", "#" %></li>
        </ul>
      </nav>
    <% end %>
  </div>
</footer>
